.carta{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 15rem;
}

.cartaperfil{
    margin-left: 5.5rem !important;
}

.caraizan{
    width: 40%;
    box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 500px;
    border: 5px solid rgb(63, 136, 63);
}

.carajoel{
    width: 40%;
    box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 500px;
    border: 5px solid rgb(194, 63, 63);
}


body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);

    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    padding-top: 25px;
    height: 630px;
    border: 1px solid white;
    border-radius: 2%;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

.textInfo{
    color: white;
}
.btn-custom{
    background-color: rgb(21, 122, 255);
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 5px;
    margin-bottom: 10rem !important;
}

.btn-custom:hover{
    background-color: rgb(12, 68, 141);
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 5px;
    margin-bottom: 10rem !important;
}
.subir{
    margin-top: -2rem !important;
}

.subirindice{
    margin-top: -5rem !important;
}

.botonvisualizar{
    background-color: #008CBA;
    padding: 5px 10px;
    border: none;
    color: white;
    transition-duration: 0.4s;
    border: 2px solid transparent;
    width: 100%;
}
.botonvisualizar:hover{
    border: none;
    padding: 5px 10px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #008CBA; /* Green */
}

.botoneditar{
    background-color: rgb(0, 212, 89);
    padding: 5px 10px;
    border: none;
    color: white;
    transition-duration: 0.4s;
    border: 2px solid transparent;
}
.botoneditar:hover{
    border: none;
    padding: 5px 10px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid rgb(0, 212, 89);; /* Green */
}

.botoneliminar{
    background-color: red;
    padding: 5px 10px;
    border: none;
    color: white;
    transition-duration: 0.4s;
    border: 2px solid transparent;
}
.botoneliminar:hover{
    border: none;
    padding: 5px 10px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid red /* Green */
}

.negritadiv{
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.grisdiv{
    color: gray;
    font-size: 20px;
    text-align: right;
}

.cartadatos{
    max-height: 15rem;
}

.crud{
    max-height: 35rem;
}

.datosinteres{
    max-height: 29rem;
}

.negrita{
    font-weight: bold;
    font-size: 20px;
    margin-right: 3rem !important;
    text-align: left;
}

.tam{
    font-size: 20px;
    color: grey;
    text-align: left;
}

body{
    background: rgb(9,9,121);
background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

.borde{
    border-left: 1px solid rgb(211, 211, 211);
}

.nav-link:hover{
    background-color: #fdfdfd33;
    border: none;
    color: black;
    opacity: 1;
    transition: 0.3s;
    border-radius: 10px;
}

.redes{
    font-size: 25px;
    color: white;
}

.user{
    font-size: 25px;
    color: white;
    margin-left: 25px;
}

.redes:hover{
    color: rgb(0, 43, 122);
}

.boton{
    background-color: white;
    border: none;
    color: black;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.boton:hover{
    background-color: gray;

}

.navbar{
    background-color: rgb(21, 122, 255);
}

.divuno{
    background-color: rgb(21, 122, 255);
}

.botonlanding{
    background-color: rgb(21, 122, 255);
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 5px;
    margin-bottom: 10rem !important;
}

.botonlanding:hover{
    background-color: rgb(21, 122, 255);
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.4s;
    border-radius: 5px;
    margin-bottom: 10rem !important;
}

.titulo{
    text-align: left;
    font-weight: 600;
    margin-top: 10rem !important;
    color: white;
}

.subtitulo{
    text-align: left;
    font-weight: 300;
    margin-bottom: 2rem !important;
    color: white;
}

.fondocol{
    background-image: url(../imagenes/fondo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 5rem !important;
}

.caracteristicas{
    font-size: 3rem;
    color: red;
}


.bi-person-circle{
    font-size: 4rem;
}

.bi-linkedin{
    color: blue;
    font-size: 1rem;
}

.izq{
    text-align: left;
}

.bi-whatsapp{
    font-size: 2rem;
    color: green;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(21, 122, 255);
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: rgb(9, 51, 107);
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }